@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&family=Roboto:wght@400;500;700&family=Satisfy&display=swap');


html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-thumb {
    background: #012e61;
}
html::-webkit-scrollbar-track {
    background: transparent;
}


*{
    box-sizing: border-box;
    margin: 0;
}

body{
    padding: 0;
    max-width: 1600px;
    margin: 0px auto;
}

a{
    text-decoration: none;
}

.top_header{
    margin: 0;
    padding: 140px 0;
    width: 100%;
    background-color: rgba(0,0,0,0);
    position: relative;
    text-align: center;
}

.logo{
    position: absolute;
    right: 30px;
    top: 20px;
}

.logo img{
    width: 150px;
}

.top_header_inner{
    background: rgba(0, 0, 0, 0.05);
    content: "";
    height: 100% !important;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    background-color: rgba(92,191,160,0.9);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    background-image: url('images/coed-school.jpg');
}

.top_header_inner::after{
    background-color: rgba(0,0,0,0.7);
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
}

.main-title-section {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    pointer-events: none;
}

.main-title-section h1 {
  font-family: 'Old Standard TT',sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  text-align: unset;
  text-decoration: none;
  font-size: 46px;
  color: #ffffff;
}

.breadcrumb-title{
  font-family: 'Roboto',sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: none;
  text-align: unset;
  text-decoration: none;
  font-size: 16px;
}

.breadcrumb-title a{
  color: #d6ece5;
}

.breadcrumb-title span:not(.current) {
  display: inline-block;
  margin: 0px 12px;
  padding: 0;
}

.breadcrumb-title span.current {
  color: #ffffff;
}

.fa-caret-right{
    color: #fff;
    font-size: 16px;
}

/* logo css start */

.logo_wrap{
    position: fixed;
    left: 0;
    top: 0;
    height: 50px;
}

.logo_wrap_inner{
    background: #012e61;
    color: #ffffff;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/* logo css end */

/* menu css start */

.menu_side_wrap {
    position: fixed;
    z-index: 20000;
    right: auto;
    left: 0;
    top: 0;
    bottom: 0;
    width: 60px;
}

.menu_side_inner{
    background: #012e61;
    color: #ffffff;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.menu_mobile_button_text {
    border: none;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
}

.menu_side_wrap .menu_mobile_button {
    display: block;
    right: 50%;
    top: 2.4em;
    z-index: 1;
    background: #012e61;
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
    width: 100%;
    height: auto;
    cursor: pointer;
    position: absolute;
}

.menu_mobile_button {
    color: #ffffff;
}

.menu_side_wrap .menu_mobile_button:hover{
    color: #fcbb04;
}

.menu_mobile_overlay {
    display: none !important;
    position: fixed;
    z-index: 100000;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
}

.menu_mobile {
    position: fixed;
    z-index: 100002;
    left: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    margin-left: -300px;
    -webkit-transition: margin ease .3s;
    -moz-transition: margin ease .3s;
    -ms-transition: margin ease .3s;
    -o-transition: margin ease .3s;
    transition: margin ease .3s;
}
/* 
.opened {
    margin-right: 0 !important;
} */

.menu_mobile_inner {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 60px 40px;
    background-color: #012e61;
    overflow-y: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.menu_mobile_inner a {
    color: #ffffff;
}

.icon-cancel{
    color: #ffffff;
}

.menu_mobile_close {
    box-sizing: border-box;
    cursor: pointer;
    display: none;
    height: 1em;
    position: absolute;
    right: 0;
    top: 0;
    width: 1.25em;
    margin: 2em 2em 0 0;
}

.menu_mobile_close::before{
    content: ' ';
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 0;
    margin-top: -1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 1px solid #fff;
    transform: rotate(45deg);
    border-color: #ffffff;
}

.menu_mobile_close::after {
    content: ' ';
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 0;
    margin-top: -1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 1px solid #fff;
    transform: rotate(-45deg);
    border-color: #ffffff;
}

.accordion-item .accordion-title{
    position: relative;
    padding: 10px 30px 10px 0;
    font-size: 13px;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
}

.accordion-content{
    max-height: 0;
    overflow: hidden;
    transition: max-height .4s ease-out;
    padding: 0;
    margin: 0;
}

.accordion-content.active{
    max-height: auto;
}

.accordion-content ul li{
    list-style-type: none;
    padding: 3px 0px;
}

.accordion-content ul li:hover a, .accordion-content ul li.active a{
    color: #fcbb04;
}

.accordion-item.active .accordion-content{
    /* line-height: 24; */
    font-size: 13px;
    text-transform: uppercase;
}

.accordion-item .accordion-title::before{
    content: "+";
    position: absolute;
    right: 10px;
    font-size: 17px;
    top: 7px;
}

.accordion-item.active .accordion-title::before{
    content: "-";
    font-size: 17px;
    top: 7px;
}

.gallery::before{
    display: none;
}

/* menu css end */


/* blockquote section start */

.blockquote-section{
    padding: 120px 70px 0 70px;
    position: relative;
}

.blockquote-section p{
    font-size: 26px;
    text-align: center;
    color: #b90000;
    font-family: 'Satisfy';
}

/* blockquote section end */

/* about page css start */

.about-content{
    padding: 50px 70px;
    text-align: justify;
}

.about-content-inner{
    background-color: #f7eeee;
}

.about-content-inner h2{
    background-color: #fcbb04;
    padding: 15px;
}

.about-content-inner p{
    padding: 10px 40px;
    font-weight: 600;
    font-size: 18px;
}

.heading-common{
    font-family: 'Old Standard TT';
    font-size: 44px;
}

/* .about-content-inner::before{
    content: ' ';
    display: block;
    position: absolute;
    width: 80%;
    height: 100%;
    opacity: 0.5;
    background-image: url('images/motto.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    z-index: -999;
} */

/* about page css end */

/* president msg css start */

.president-content {
    padding: 50px 70px;
    text-align: justify;
}

.president-content p{
    font-size: 18px;
    font-weight: 600;
    
}
/* president msg css end */

/* values css start */

.values-content{
    text-align: justify;
    background-color: #f7eeee;
}

.values-content h2, .vision-content h2, .mission-content h2{
    background-color: #fcbb04;
    padding: 15px;
    margin: 0;
    font-weight: bold;
    font-family: 'Old Standard TT';
}

.values-data{
    padding: 25px 40px;
}

.values-desc{
    font-weight: 600;
    font-size: 20px;
    color: #012e61;
}

.values-content ul{
    margin: 0;
}

.values-content ul li{
    list-style-type: none;
    padding: 20 0px;
    margin: 0;
    font-weight: 500;
}

.fa-book-bookmark{
    margin-right: 10px;
    color: #012e61;
}

/* values css end */

/* vision css start */

.vision-content{
    text-align: justify;
    background-color: #f7eeee;
}

.vision-data{
    padding: 30px 40px;
}

.vision-desc{
    font-weight: 600;
    font-size: 18px;
}


/* vision css end */

/* mission css start */

.mission-content{
    text-align: justify;
    background-color: #f7eeee;
}

.mission-data{
    padding: 30px 40px;
}

.mission-data ul li{
    list-style-type: none;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 18px;
}

.fa-book-bookmark{
    margin-right: 10px;
    color: #012e61;
}

/* mission css end */


/* photos section css start */


.gallery-img-div{
    position: relative;
  }

  
  .gallery-img-div img{
    height: 220px;
    width: 100%;
    max-width: 100%;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    transition: all 1.5s ease;
    border-radius: 20px;
    position: relative;
    border: 5px solid #006fa8;
  }
  
  .gallery-image-overlay {
    transition-timing-function: ease-in-out;
    transition-duration: .2s;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    opacity: 0;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 0.5s;
  }
  
  .gallery-img-div:hover .gallery-image-overlay{
    opacity: 1;
  }
  
  
  .gallery-image-overlay .links{
    width: 100%;
    height: auto;
    left: 0;
    top: 40%;
    transform: translateY(-40%);
    text-align: center;
    position: relative;
    z-index: 2;
    margin-bottom: 20px;
    transition: all 0.6s ease;
    /* margin-top: -22px; */
  }
  
  .gallery-image-overlay .links a{
    background-color: rgba(255,255,255,0.7);
      border-radius: 50%;
      color: #000;
      font-size: 20px;
      width: 40px;
      height: 40px;
      padding: 10px;
      line-height: 40px;
      transition: all 0.9s;
  }
  
  
  .gallery-img-div:hover .gallery-image-overlay .links{
    transform: translateY(0%);
  
  }
  
  .gallery-img-div:hover{
    cursor: pointer;
  }
  
  .gallery-image-overlay .links:after {
    content: '';
    position: absolute;
    z-index: -1;
    transition: all 0.4s ease-out;
    background: none;
  }
  

/* photos section css end */

/* gallery css start */

.photos-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 30px;
}

.gallery-photo{
    padding: 80px 0px 0 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 30px;
  }

.dtportfolio-image-overlay-details {
    background-color: #006fa8;
    bottom: 0;
    left: 0;
    right: 0;
    border: 0;
    height: auto;
    text-align: center;
    padding: 20px 10px 10px;
    z-index: 1;
    transition: all 0.6s ease;
    position: absolute;
  }
  
  .dtportfolio-image-overlay-details h2{
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    z-index: 9;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 700;
    -wekbit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    margin-bottom: 10px;
    margin-top: 0;
  }
  
  .gallery-img-div:hover .dtportfolio-image-overlay-details h2{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  
  .dtportfolio-image-overlay-details h2 a {
    color: #000000;
  }
  
  .dtportfolio-image-overlay .links a {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  
  .dtportfolio-item .dtportfolio-image-overlay a{
    color: #fff;
    letter-spacing: 0.5px;
  }

/* gallery css end */


/* modal css start */


  /* The Modal (background) */
  .modal{
    display: none;
    position: fixed;
    z-index: 999999;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: auto;
    background-color:#fff;
  }
  
  /* Modal Content */
  .modal-content {
    background: #fff0;
    position: relative;
    margin: auto;
    padding: 0;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: inherit;
    justify-content: space-around;
    align-items: center;
    border: none;
  }
  
  /* The Close Button */
  .close {
    color: black;
    position: absolute;
    top: 40px;
    right: 45px;
    font-size: 55px;
    font-weight: lighter;
    height: 35px;
    width: 35px;
    z-index: 1;
  }
  
  .close:hover,
  .close:focus {
    /* color: #999;
    text-decoration: none; */
    cursor: pointer;
  }
  
  /* Hide the slides by default */
  .mySlides{
    display: none;
    width: 35%;
  }

  .mySlides img{
    width: 100%;
    display: flex;
    margin: 0px auto;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: relative;
    width: 55px;
    height: 55px;
    color: black;
    font-size: 15px;
    transition: 0.6s ease;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    text-decoration: none;
  }

  .prev > span, .next > span {
    position: absolute;
    left: 50%;
    top: 50%;
    cursor: pointer;
    transform: translate(-55%,-55%);
  }
  
  /*On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    color: rgba(0, 0, 0);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: black;
    font-size: 15px;
    padding: 8px 12px;
    position: fixed;
    bottom: 25px;
    left: 30px;
  }
  
/* modal css end */


/* contact css start */

.contact-section{
    padding: 50px 70px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-links{
    display: flex;
    gap: 20px;
    align-items: baseline;
}

.contact-links i{
    padding: 20px;
    font-size: 30px;
    border: 5px solid #fcbb04;
    border-radius: 50%;
    color: #012e61;
}

.contact-links p{
    font-weight: 600;
    color: #012e61;
    font-size: 20px;
}

/* contact css end */


/* footer css start */

.footer_wrap{
    background-image: url('images/footer_bg.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #012e61;
    color: #a8a8a8;
}

.copyright_wrap_inner{
    font-size: 18px;
    padding: 30px 0;
    overflow: hidden;
    text-align: center;
    color: #ffffff;
}

.copyright_text {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copyright_text p{
    margin: 0;
}

.copyright_wrap_inner a {
    color: #ffffff;
}

/* footer css end */



/* media query */

@media screen and (max-width: 768px) {
    .top_header{
        height: 500px;
    }

    .schools-section, .about-content, .photos-section, .president-content, .contact-section{
        padding: 30px !important;
    }

    .values-content, .vision-content, .mission-content{
        margin: 30px;
    }

    .menu_side_inner{
        background: none;
    }
    
    .menu_side_wrap {
        position: absolute;
    }

    .menu_side_wrap .menu_mobile_button {
        padding: 15px 0px;
    }

    .heading-common{
        font-size: 24px;
    }

    .logo img{
        width: 70px;
    }

    .main-title-section h1 {
        font-size: 32px;
    }

    .breadcrumb-title{
        font-size: 13px;
    }

    .blockquote-section.p-5{
        padding: 10px 50px !important;
    }

    .blockquote-section p{
        font-size: 14px;
    }

    .about-content-inner p {
        padding: 10px 20px;
        font-weight: 600;
        font-size: 13px;
    }

    .president-content p{
        font-size: 13px;
    }

    .values-data, .vision-data, .mission-data {
        padding: 20px 30px;
    }

    .values-desc, .vision-desc{
        font-size: 14px;
        margin: 0;
    }

    .mission-data ul{
        padding: 0;
    }

    .values-data ul li, .mission-data ul li{
        font-size: 12px;
    }

    .gallery-photo, .photos-section{
        grid-template-columns: repeat(1, 1fr);
        row-gap: 30px;
    }

    .contact-links{
        align-items: center;
    }

    .contact-links i {
        padding: 12px;
        font-size: 16px;
    }

    .contact-links p{
        margin: 0;
    }

    .copyright_text{
        font-size: 12px;
    }
}

@media screen and (max-width: 450px) {
    .top_header{
        height: 500px;
    }

    .schools-section, .about-content, .photos-section, .president-content, .contact-section{
        padding: 30px !important;
    }

    .values-content, .vision-content, .mission-content{
        margin: 30px;
    }

    .menu_side_inner{
        background: none;
    }
    
    .menu_side_wrap {
        position: absolute;
    }

    .menu_side_wrap .menu_mobile_button {
        padding: 15px 0px;
    }

    .heading-common{
        font-size: 24px;
    }

    .logo img{
        width: 70px;
    }

    .main-title-section h1 {
        font-size: 32px;
    }

    .breadcrumb-title{
        font-size: 13px;
    }

    .blockquote-section.p-5{
        padding: 10px 50px !important;
    }

    .blockquote-section p{
        font-size: 14px;
    }

    .about-content-inner p {
        padding: 10px 20px;
        font-weight: 600;
        font-size: 13px;
    }

    .president-content p{
        font-size: 13px;
    }

    .values-data, .vision-data, .mission-data {
        padding: 20px 30px;
    }

    .values-desc, .vision-desc{
        font-size: 14px;
        margin: 0;
    }

    .mission-data ul{
        padding: 0;
    }

    .values-data ul li, .mission-data ul li{
        font-size: 12px;
    }

    .gallery-photo, .photos-section{
        grid-template-columns: repeat(1, 1fr);
        row-gap: 30px;
    }

    .contact-section{
        flex-direction: column;
    }

    .contact-links{
        align-items: center;
    }

    .contact-links i {
        padding: 12px;
        font-size: 16px;
    }

    .copyright_text{
        font-size: 12px;
    }
}