@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0px auto;
    max-width: 1600px;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}

ul{
    padding: 0;
}

ul li{
    list-style-type: none;
}

.section-lg{
    padding: 60px 0px;
}

p{
    color: #333333;
    font-weight: 500;
}

.common-heading h2{
    color: #191919;
    font-size: 42px;
    font-weight: 600;
    font-family: 'Playfair Display';
}

.common-heading h2 span{
    font-size: 48px;
  background: -webkit-linear-gradient(hsl(0, 0%, 82%), #085291);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.common-btn{
    color: #fff;
    border-radius: 50px;
    padding: 10px 25px;
    display: flex;
    width: max-content;
    background: #085291;
    background: linear-gradient(90deg,rgba(8, 82, 145, 1) 0%, rgba(122, 171, 214, 1) 100%, rgba(255, 255, 255, 1) 100%);
}

/* header css start */

#header{
    background-image: url('images/trust.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    height: 500px;
    position: relative;
    z-index: 1;
}

/* .header-overlay{
        position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(210deg, rgba(255, 255, 255, 0) 80%, rgba(0, 0, 0, 0.65) 100%);
} */

.header-inner{
    background-color: #e9f2ff;
    position: relative;
    z-index: 1;
}

.header-inner .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    position: relative;
    z-index: 1;
}

.header-inner .logo img{
    width: 80px;
}

.banner-heading h1{
    position: absolute;
    right: 5%;
    bottom: 10%;
    color: #fff;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 54px;
}

.banner-heading p{
    color: #fff;
    position: absolute;
    bottom: 8%;
    right: 5%;
}

    ul.nav{
        display: flex;
        flex-direction: row;
        position: relative;
        justify-content: flex-start;
        width: 100%;
    }

    ul.nav .nav-li > a{
        padding: 0px 0px 15px 0px;
        color: #085291;
        font-weight: 500;
        font-size: 17px;
    }

    ul.nav .nav-li > a{
        margin: 0px 15px;
    }
    
    ul.nav a{
        text-decoration: none;
        padding: 9px 0px;
        cursor: pointer;
    }
  
    ul.nav li{
      position: relative;
    }

    .nav-li a.active, .nav-li a:hover{
      color: #085291;
    }

    ul.nav li:hover .dropdown {
      visibility: visible;
      opacity: 1;
      z-index: 1000;
      /* transform: translateY(10px); */
    }
    
    ul.nav li .dropdown{
      visibility: hidden;
      opacity: 0;
      background-color: #ffffff;
      margin-left: 15px;
      padding: 0;
      left: 0%;
      top: 248%;
      visibility: hidden;
      z-index: 10;
      -webkit-transition: all 0.3s linear 0s;
      transition: all 0.3s linear 0s;
      text-align: left;
      width: 230px;
      position: absolute;
      box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
    }
    
    ul.nav li .dropdown li{
      padding: 10px 15px 10px 15px;
      border-bottom: 1px solid #f2f2f2;
      width: 100%;
    }
  
    ul.nav li .dropdown li:last-child{
      border-bottom: none;
    }
    
    ul.nav li .dropdown a{
        font-weight: 500;
        font-size: 14px;
        color: #085291;
      text-transform: capitalize;
    }
  
    ul.nav li .dropdown ul li{
      color: v;
    }
  
    ul.nav li .dropdown li:hover,  ul.nav li .dropdown li.active{
      background-color: #085291;
    }
  
    ul.nav li .dropdown li:hover a,  ul.nav li .dropdown li.active a{
      color: #fff;
      padding-right: 15px;
    }

/* header css end */

/* about css start */ 

.about-section{
    display: grid;
    grid-template-columns: 7fr 5fr;
    gap: 30px;
    align-items: center;
}


.about-section .left-about{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right-about img{
    width: 100%;
}

/* about css end */

/* school section css start */

.school-section{
    width: 100%;
  background: #085291;
  background: linear-gradient(90deg,rgba(8, 82, 145, 1) 0%, rgba(122, 171, 214, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

.school-section h2{
    color: #085291;
    font-size: 80px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    font-family: 'Playfair Display';
    padding: 0px 30px;
}

.school-section h2 span{
    display: inline-block;
    transform: translateY(100%);
    opacity: 0;
}

.school-section .schools {
  width: 100%;
  padding: 3rem 0rem;
  position: relative;
}

.school-section .schools .one {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:50px;
  background: #085291;
  background: linear-gradient(90deg,rgba(8, 82, 145, 1) 0%, rgba(122, 171, 214, 1) 0%, rgba(255, 255, 255, 1) 100%);
}
.school-section .schools .borders {
  border-top: 1px solid rgba(122, 171, 214, 1);
  padding-top: 3rem;
}

.school-section .schools .one .oneL img {
  width: 450px;
  padding-left: 40px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.school-section .schools .one .oneR {
  /* width: 50%; */
  position: relative;
  display: flex;
  flex-direction: column;
}

.school-section .schools .one .oneR h3{
  font-size: 42px;
  font-weight: 500;
  color: #085291;
}

.school-section .schools .one .oneR a:hover{
  text-decoration: underline;
}

.school-section .schools .one .oneR p {
  color: #191919;
  padding: 30px 40px 40px 0px;
  /* max-width: 80%; */
}

.spacer {
  height: 50vh; 
}

/* school section css end */


/* president section css start */

.president-msg-section{
  display: grid;
  grid-template-columns: 7.5fr 4.5fr;
  gap: 40px;
  align-items: center;
}

.left-p-msg{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 100px;
  padding-right: 40px;
}

.border-gradient {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
}
.border-gradient-purple {
  border-image-source: linear-gradient(90deg,rgba(129, 177, 222, 1) 16%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
}

.right-p-msg{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.right-p-msg img{
  width: 350px;
  padding: 15px;
}

/* president section css end */

/* facilities section css start */

.facilities-section{
  background-color: #f9f9f9;
}

.slider-images{
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 40px;
}
.slider-images img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.slider-img{
  width: 110px;
  height: 400px;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  transition: 0.7s ease;
}

.slider-img-overlay{
  position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
        background: linear-gradient(0deg, rgba(0,0,0, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 6px;
}

.slider-img h3{
  font-size: 26px;
  font-weight: 600;
  /* text-align: left; */
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 45%;
  left: 25%;
  transition: 0.7s ease;
}

.slider-img h3 .icon{
  width: 50px;
}

.details{
  position: absolute;
  bottom: 43px;
  left: 43px;
}
.details h2{
  font-size: 18px;
  text-align: left;
  color: #fff;
  transition: 0.7s ease;
  display: none;
}
.details p{
  font-size: 16px;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  transition: 0.7s ease;
  display: none;
}
.slider-img.active{
  width: 350px !important;
  height: 400px !important;
}
.slider-img.active h3{
   display: none;
}
.slider-img.active .details p, .slider-img.active .details h2{
  display: block;
}

/* facilities section css end */

/* principal section css start */

.principal-section .mySwiper{
  padding: 40px 0px 60px 0px;
  display: flex;
  margin: 0px auto;
}

.principal-section .swiper-pagination-bullet-active {
    background: #085291;
}

.principal-section .swiper-pagination-bullet{
  width: 10px;
  height: 10px;
}


.principal-item{
  display: flex;
  height: 350px;
  flex-direction: column;
  gap: 15px;
  padding: 40px;
  border-radius: 40px;
  background: #085291;
  background: linear-gradient(160deg,rgba(8, 82, 145, 1) 0%, rgba(122, 171, 214, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

.principal-desc{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.principal-name{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.principal-name h4{
  color: #085291;
}

.principal-desc img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.principal-msg p{
  color: #333333;
  font-weight: 500;
}

/* principal section css end */

/* vision mission css start */


  #page3 {
      /* min-height: 70vh; */
      width: 100%;
      background-color: #f2f2f2;
  }

  .elem {
      height: 150px;
      width: 100%;
      position: relative;
      border-bottom: 1px solid #38383864;
      overflow: hidden;
      display: flex;
      align-items: center;
      padding: 0 40px;
  }

  .elem h2 {
      font-size: 52px;
      position: relative;
      z-index: 9;
  }

  .elem .overlay {
      height: 100%;
      width: 100%;
      background-color: #92bade;
      position: absolute;
      left: 0;
      top: -100%;
      transition: all ease 0.25s;
  }

  .elem:hover .overlay {
      top: 0;
  }

  #fixed-image {
    height: 350px;
    width: 300px;
    border-radius: 50px;
      position: fixed;
      z-index: 99;
      left: 50%;
      top: 25%;
      display: none;
      background-size: cover;
      background-position: center;
      transition: all ease 1s;
  }

/* vision mission css end */



/* footer css start */

#footer{
    background-color: #f2f2f2;
    color: #191919;
}

.footer-inner{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
}

.footer-inner img{
    width: 100px;
}

.footer-item{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-item a{
    color: #191919;
    text-decoration: none;
    font-weight: 500;
}

.footer-item a:hover{
    text-decoration: underline;
}

.footer-item ul li span{
    margin-right: 10px;
}

.footer-item ul li{
    padding: 10px 0px;
}

.lower-footer{
    padding: 20px 0px;
    border-top: 1px dashed #191919;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lower-footer p{
    color: #191919;
    margin: 0;
}

/* footer css end */